<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Sala</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Voltar</a>
          </div>
        </div>
      </div>
      <form #EmployeeForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="PlaceName" class="p-t-b-10">Nome da Sala<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="PlaceName" required maxlength="255"
                [(ngModel)]="addEmployeeForm.PlaceName" name="PlaceName" #PlaceName="ngModel">
              <div *ngIf="PlaceName.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!PlaceName.errors?.['required']">
                  Nome da Sala é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="MedicalEspec" class="p-t-b-10">Especialidade<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="MedicalEspec" required maxlength="255"
                [(ngModel)]="addEmployeeForm.MedicalEspec" name="MedicalEspec" #MedicalEspec="ngModel">
              <div *ngIf="MedicalEspec.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!MedicalEspec.errors?.['required']">
                  Especialidade da Sala é obrigatório
                </div>
              </div>
            </div>
          </div>
         
         
        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="AddEmployee(EmployeeForm.form.valid)">Adicionar</button>
        </div>
      </form>
    </div>
  </div>
</div>